<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShwNewsCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ShwNewsCheck.Properties.Settings>
            <setting name="SetupFolder" serializeAs="String">
                <value>Setup</value>
            </setting>
            <setting name="NewsFolder" serializeAs="String">
                <value>News</value>
            </setting>
        </ShwNewsCheck.Properties.Settings>
    </userSettings>
</configuration>